<div class="container-fluid mx-auto">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="row">
                <div class="col-12 col-lg-6 mx-auto text-justify">
                    Niniejsza aplikacja to projekt na przedmiot Systemy Eksperckie. Po wypełnieniu krótkiej ankiety
                    system dobierze restauracje, które pasują do wybranych warunków. Kliknij "Start", aby rozpocząć.
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <div class="row">
                <div class="col-12 col-lg-6 mx-auto text-justify">
                    Twórcy: Dominika Kawucha, Paweł Kosmala
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-info mx-auto" routerLink="/survey">Start</button>
        </div>
    </div>
</div>