<app-progress-bar
    [activeQuestion]="activeQuestion"
    [questionsLength]="questionsLength"
></app-progress-bar>

<ng-container *ngFor="let question of questions, index as i">
    <ng-container *ngIf="i === activeQuestion">
            <app-question
                [question]="question"
            ></app-question>
    </ng-container>
</ng-container>

<button class="btn btn-primary" routerLink="">
    Start
</button>
      
<button class="btn btn-primary" (click)="nextQuestion()">
    Następne pytanie
</button>